button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    transition: 0.3s;
}

button.cambiado {
    background-color: #e74c3c;
    color: #fff;
}
